# Ignored for IDE
/submodules/

# Cache & Build
__pycache__
/build/
/dist/
*.egg-info/
/target/
/rust/target/

# Optional tests: User must supply files from game
/tests/gamefiles/*

# Output from tools
*.csv
