html, body {
    background: #003062;
    font-family: "Benguiat Gothic", "ITC Benguiat Gothic", "Benguiat Gothic Regular", "ITC Benguiat Gothic Regular", "Varela Round", sans-serif;
    font-weight: normal;
    font-size: 13px;
}

/* Hover any element */
.LEGACY:hover {
    outline: 1px solid #800000;
}

.LEGACY:hover > .LEGACY:hover {
    outline: 1px solid #FF0000;
}


/* Highlight potentially missing graphics */
.missing {
    animation: missing 1s ease-in-out infinite forwards;
}

@keyframes missing {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

/* Buttons are typically spritesheets: Disabled, Normal, Clicked, Hover */
.GZWinBtn {
    animation: button-loop 2s steps(1, end) infinite;
    background-color: transparent !important;
    background-repeat: no-repeat;
}

@keyframes button-loop {
    0% { background-position: 0%; }
    25% { background-position: 33.333%; }
    50% { background-position: 66.666%; }
    75% {background-position: 100%; }
    100% {background-position: 0%; }
}
